# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.lock.hcl

# Docker
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Java
target/
*.jar
*.war

# Go
bin/
*.exe
